body {
    color: #49ff3a;
}

svg{
    background-color:#fff;
    display: block;
    margin: auto;
    float:right;
}

.filtreAffichage {
    float:left;
    width: 200px;
    margin:auto;
}
.container{
    margin:auto;
    display: block;
}


h1 {
    text-decoration: bold;
    padding-left:20px;
    color: darkblue;
    clear:both;
    z-index:1;
}
p {
    font-family: sans-serif;
    margin: 0px 0px 0px 0px;
    padding : 0px 0px 0px 0px;
}
.bar {
    font-family: fantasy;
}

.cercle {
    fill : #7cb0ff;
    opacity: 0.5;
}

.cercle:hover{
    cursor:crosshair;
}

.axis
{
    fill:darkblue;
    shape-rendering: crispEdges;
}


.axis path,
.axis line {
    fill: none;
    stroke:black;
    stroke-opacity: 0.2;
    shape-rendering: crispEdges;
}
.axis text {
    font-family:sans-serif;
    font-size:12px;
}

line.h {
    shape-rendering: crispEdges;
}

.checkbox{
    float:left;
    dotted:red;
    cursor: grab;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after{
    color:red;
}


li{
    list-style-type:none;
    padding:0;
    margin:0;
}

#choix {
    float:right;
  }
label {
    cursor: grab;
    dotted:red;
}

/*.o {
    background-color: red;
}

*>